/************************************
GENERAL
*************************************/
# {
    text-decoration: none;
}

body {
 background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRn7Ok7ijaE7Cf54G_51OttsXz19dqC1qSGNCQKs12M_HwWU7hJ);   
}
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#logo {
    text-align: center;
    margin: 0;
}
/************************************
COLORS
*************************************/
# {
    


/************************************
MEDIA Querie
************************************/